.alert_msg{
    color:red;
}

.popup_kitchen_ref{
    height: 150px !important;
}


/* The Kitchen List Screen */

.kitchen_list-screen .kitchen-list{
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}
.kitchen_list-screen .kitchen-list th,
.kitchen_list-screen .kitchen-list td {
    padding: 0px 8px;
}
.kitchen_list-screen .kitchen-list tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
}
.kitchen_list-screen .kitchen-list thead > tr,
.kitchen_list-screen .kitchen-list tr:nth-child(even) {
    background: rgb(247,247,247);
}
.kitchen_list-screen .kitchen-list tr.highlight{
    transition: all 150ms linear;
    background: rgb(110,200,155) !important;
    color: white;
}
.kitchen_list-screen .kitchen-list td tr.lowlight{
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.kitchen_list-screen .kitchen-list tr.lowlight:nth-child(even){
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}

.kitchen_list-screen .searchbox{
    right: auto;
    margin-left: -90px;
    margin-top:8px;
    left: 50%;
}
.kitchen_list-screen .searchbox input{
    width: 120px;
}
